<li class="talk freeSlot">
    <h3 class="title">Free Slot</h3>
    <p class="description">This slot could be yours!</p>
    <app-button class="submit" href="mailto:meetup@angular.hamburg" secondary>
        Submit a Talk
    </app-button>
    <p class="note">
        Trouble finding an idea for a talk?<br />
        Feel free to contact us.
    </p>
</li>
<li class="talk freeSlot">
    <h3 class="title">Free Slot</h3>
    <p class="description">This slot could be yours!</p>
    <app-button class="submit" href="mailto:meetup@angular.hamburg" secondary>
        Submit a Talk
    </app-button>
    <p class="note">
        Trouble finding an idea for a talk?<br />
        Feel free to contact us.
    </p>
</li>