.link {
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
    text-decoration: none;
    transition: 0.2s;
}

.link:hover,
.link:focus {
    opacity: 0.6;
}


.link__community {
  font-size: 28px;
  line-height: 55px;
}

.link__community:hover {
  font-size: 28px;
  font-weight: 300;
  color: #f8f8f8;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
