<div [@flyInOut]="'in'" class="root">
    <app-header></app-header>
    <app-section contentClassName="talk" title="The Talks">
        <app-talks></app-talks>
    </app-section>
    <app-section title="What is this all about?">
        <app-about-us></app-about-us>
    </app-section>
    <app-section title="Team">
        <app-teams></app-teams>
    </app-section>
    <app-section title="Sponsors">
        <app-sponsors></app-sponsors>
    </app-section>
    <app-section title="Join the community">
        <app-community></app-community>
    </app-section>
    <span class="footer">Made with ⚓ in Hamburg</span>
</div>
