
:host {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: center;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.platform {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
    width: 50px;
    max-width: 50px;
    text-align: center;
    font-size: 32px;
    max-width: 100px;
}

.link {
    font-size: 28px;
    line-height: 55px;
}

.link:hover {
  font-size: 14px;
  font-weight: 300;
  color: #f8f8f8;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
