<li class="member">
    <img class="avatar" src="assets/team-john.jpeg" alt="name" />
    <div class="name">Munstermann</div>
    <div>//Organizor</div>
    <div class="markdown">
        Coach for agile software Development
    </div>
        <app-link class="link" target="_blank" href="http://twitter.com/${twitter}" title="twitter">
        @twitter</app-link>
</li>
<li class="member">
    <img class="avatar" src="assets/team-john.jpeg" alt="name" />
    <div class="name">Munstermann</div>
    <div>//Organizor</div>
    <div class="markdown">
        Coach for agile software Development
    </div>
    <app-link class="link" target="_blank" href="http://twitter.com/${twitter}" title="twitter">
        @twitter</app-link>
</li>

<li class="member">
    <img class="avatar" src="assets/team-john.jpeg" alt="name" />
    <div class="name">Munstermann</div>
    <div>//Organizor</div>
    <div class="markdown">
        Coach for agile software Development
    </div>
    <app-link class="link" target="_blank" href="http://twitter.com/${twitter}" title="twitter">
        @twitter</app-link>
</li>

