<li class="member">
  <img class="avatar" src="assets/team-john.jpeg" alt="name"/>
  <div class="name">John Behrens</div>
  <div>// Organizor</div>
  <div class="markdown">
    <p>Coach for Agile Software</p>
    <p>Development</p>
  </div>
  <app-link class="link" target="_blank" href="http://twitter.com/webconsultseu" title="twitter">
    @webconsultseu
  </app-link>
</li>
<li class="member">
  <img class="avatar" src="assets/team-dave.jpg" alt="name"/>
  <div class="name">David Müllerchen</div>
  <div>// Co-Organizor // Website</div>
  <div class="markdown">
    <p>JavaScript Dev, Software Trainer</p>
    <p>
      <app-link class="link" target="_blank" href="https://www.webdave.de/" title="website">
        webdave.de
      </app-link>
    </p>
  </div>
  <app-link class="link" target="_blank" href="http://twitter.com/webdave_de" title="twitter">
    @webdave_de
  </app-link>
</li>

<li class="member">
  <img class="avatar" src="assets/team-mark.jpg" alt="name"/>
  <div class="name">Mark Tiedemann</div>
  <div>// Website</div>
  <div class="markdown">
    <p>new FullStackDev([ at:</p>
    <p>
      <app-link class="link" target="_blank" href="https://hellohq.io" title="website">
        'hellohq.io' ])
      </app-link>
    </p>
  </div>
  <app-link class="link" target="_blank" href="http://twitter.com/MarkTiedemannDE" title="twitter">
    @MarkTiedemannDE
  </app-link>
</li>

<li class="member">
  <img class="avatar" src="assets/vicens.png" alt="name"/>
  <div class="name">Vicens Fayos</div>
  <div>// Website</div>
  <div class="markdown">
    <p>Fullstack Freelance</p>
    <p>
      <app-link class="link" target="_blank" href="http://vicensfayos.com" title="website">
       vicensfayos.com
      </app-link>
    </p>
  </div>
  <app-link class="link" target="_blank" href="http://twitter.com/datracka" title="twitter">
    @datracka
  </app-link>
</li>


