<li class="sponsor">
  <img class="logo" src="assets/sponsor-point.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="http://www.point-gmbh.com/home/">
      POINT. Consulting GmbH
    </app-link>
    <div class="role">location and drinks</div>
  </div>
</li>
<li class="sponsor">
  <img class="logo" src="assets/sponsor-hqlabs.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="https://hellohq.io">
      HQLabs GmbH
    </app-link>
    <div class="role">location and drinks</div>
  </div>
</li>
<li class="sponsor">
  <img class="logo" src="assets/sponsor-webconsultseu.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="http://www.webconsults.eu/">
      WebConsults.EU
    </app-link>
    <div class="role">meetup fees</div>
  </div>
</li>
<li class="sponsor">
  <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="https://angularjs.de/">
      angularjs.de
    </app-link>
    <div class="role">giveaways</div>
  </div>
</li>

<li class="sponsor">
  <img class="logo" src="assets/team-dave.jpg" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="https://www.webdave.de/">
      webdave
    </app-link>
    <div class="role">domain</div>
  </div>
</li>

<li class="sponsor">
  <img class="logo" src="assets/sponsor-wanted.png" alt="#name" />
  <div>
    <app-link target="_blank" class="name" href="mailto:meetup@angular.hamburg">
      You?
    </app-link>
    <div class="role">become a sponsor now</div>
  </div>
</li>




