<li class="sponsor">
    <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name" />
    <div>
        <app-link target="_blank" class="name">
        name
        </app-link>
        <div class="role">role</div>
    </div>
</li>
<li class="sponsor">
    <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name" />
    <div>
        <app-link target="_blank" class="name">
            name
        </app-link>
        <div class="role">role</div>
    </div>
</li>
<li class="sponsor">
    <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name" />
    <div>
        <app-link target="_blank" class="name">
            name
        </app-link>
        <div class="role">role</div>
    </div>
</li>
<li class="sponsor">
    <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name" />
    <div>
        <app-link target="_blank" class="name">
            name
        </app-link>
        <div class="role">role</div>
    </div>
</li>

<li class="sponsor">
    <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name" />
    <div>
        <app-link target="_blank" class="name">
            name
        </app-link>
        <div class="role">role</div>
    </div>
</li>

<li class="sponsor">
    <img class="logo" src="assets/sponsor-angularjsde.png" alt="#name" />
    <div>
        <app-link target="_blank" class="name">
            name
        </app-link>
        <div class="role">role</div>
    </div>
</li>




